

/*********************section1****************************/
#sec1{
    margin-top: 90px;
}
#sec1 .tit_imgbox{
    border-bottom: 1px solid #f4f4ff;
    margin-bottom: 80px;
}
#sec1 .tit_imgbox h1{
    position: absolute;
    text-align: center;
    width: 200px;
    left: calc((100% - 200px)/2);
}
#sec1 .cont1{
    text-align: center;
    margin-bottom: 40px;
    overflow: hidden;
}
#sec1 .cont1 img:first-child{
    border: 2px solid #8CC9C8;
}
#sec1 .cont1 img{
    width: 560px;height: 200px;
    margin: 10px;
    cursor: pointer;
    transition: 0.8s;
}
#sec1 .cont1 img:hover{
    transform: scale(1.1);
    border: 1px solid #f4f4f4;
}
#sec1 .cont2{
    text-align: center;
    overflow: hidden;
}
#sec1 .cont2 img{
    width: 560px;height: 200px;
    margin: 10px;
    cursor: pointer;
    transition: 0.8s;
}
#sec1 .cont2 img:hover{
    transform: scale(1.1);
    border: 1px solid #f4f4f4;
}
#sec1 .tit_txt{
    text-align: center;
}
#sec1 .tit_txt h4{
    color: #000;
    font-size: 1.6rem;
    margin-bottom: 15px;
}
#sec1 .tit_txt >h5{
    color: #000;
    font-size: 1.5rem;
}
#sec1 .banner{
    height: 200px;
    background-color: coral;
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
#sec1 .banner .txt{
    float: right;
    position: absolute;
    left: 40%;
    top: 50px;
}
#sec1 .banner .txt h4{
    color: #000;
    font-size: 1.8rem;
    margin-bottom: 15px;
}
#sec1 .banner .txt h5{
    color: #000;
    font-size: 1.3rem;
}
#sec1 .banner img{
    width: 400px;height: 300px;
    float: left;
    top: -106px;
    position: absolute;
}


/*********************section3****************************/

/*탭메뉴*/
#sec3{margin-top: 100px;}
.sec3_titimg{position: relative;width: 100%;}

.sec3_txtbox{position: absolute;left:calc((100% - 400px)/ 2) ;margin-top: 50px;}
.sec3_titimg h1{color:#000 ;font-size: 2rem; width: 400px;text-align: center;}
.sec3_titimg .sec3_topicon{height: 200px; right: calc((100% - 80px)/2);position: relative;}
.sec3_titimg .sec3_topicon img{width: 80px;height: 80px;margin-top:50px;position: absolute;}
.sec3_titimg img{width: 100%;}

.all{
	width: 100%;
	margin:auto;
}
.tabSet{
	margin-bottom:30px;
}
.tabSet ul{
	overflow:hidden;
	width: 100%;
}
.tabSet ul li{
		float:left;
		list-style-type:none;
		width: 300px;
		right: 0px;
	}
.tabs_box{left: calc((100% - 900px)/ 2); width: 900px;}
.tabSet ul li a{
			float:left;
			color:#000;
			background:#f4f4f4;
			border-radius:10px 10px 0 0;
			font-weight:bold;
			font-size:1.25rem;
			text-decoration:none;
			width: 300px; height: 40px;
			text-align: center;
			padding-top: 20px;
		}
.tabSet ul li a.active{
			background:coral;
			cursor:default;
			color:#000;
			width: 300px; height: 40px;
		}
.tabSet ul li a.active:hover{color:#00CCBD;cursor: pointer;}
.panels{
	background:#fff;
    height:640px;
    
}
.panel{
	padding:30px 30px;
	font-size:1rem;
	color:#4d4d4d;
    display: none;
}
.panel button.point{
    background-color: crimson;
}
.panel button{
    border: none;
    width: 74px;height: 28px;
    border-radius: 50px;
    margin-top: 20px;
    background-color: coral;
    color: #fff;
    cursor: pointer;
    transition: 0.7s;
}
.panel button:hover{
    transform: scale(1.1);
}



#panel1-1{}
#panel1-1 .center{width: 920px;height: 540px; margin-left: calc((100% - 920px)/2);}
#panel1-1 .center >div{
    background-color:#fafafa;
    width: 400px;height: 230px;
    padding: 20px;
    border-radius: 20px;
    float: left;
    margin: 10px;
}
#panel1-1 .center img{
    width: 140px;height: 188px;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}
#panel1-1 .sub_cont_tit{}
#panel1-1 .sub_cont_tit h4{
    margin-bottom: 15px;margin-top: 20px;
    color: #000;
}

#panel1-2{}
#panel1-2 .center{width: 920px;height: 540px; margin-left: calc((100% - 920px)/2);}
#panel1-2 .center >div{
    background-color:#fafafa;
    width: 400px;height: 230px;
    padding: 20px;
    border-radius: 20px;
    float: left;
    margin: 10px;
}
#panel1-2 .center img{
    width: 140px;height: 188px;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}
#panel1-2 .sub_cont_tit{}
#panel1-2 .sub_cont_tit h4{
    margin-bottom: 15px;margin-top: 20px;
    color: #000;
}

#panel1-3{}
#panel1-3 .center{width: 920px;height: 540px; margin-left: calc((100% - 920px)/2);}
#panel1-3 .center >div{
    background-color:#fafafa;
    width: 400px;height: 230px;
    padding: 20px;
    border-radius: 20px;
    float: left;
    margin: 10px;
}
#panel1-3 .center img{
    width: 140px;height: 188px;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}
#panel1-3 .sub_cont_tit{}
#panel1-3 .sub_cont_tit h4{
    margin-bottom: 15px;margin-top: 20px;
    color: #000;
}


/*********************section6****************************/
#sec6{width: 100%;position: relative;margin-top: 300px;}
#sec6 .sec6_txtbox{text-align: center;margin-bottom: 40px;}
#sec6 .sec6_txtbox h1{font-size: 2rem;color: #00CCBD;}

#sec6 .roundbox{position: absolute;
	left: calc((100% - 630px)/2);
	margin-top: -180px;
}


#sec6 .sec6_box1 img{width: 300px;height: 300px;border-radius: 100%;background-color: #fff;
	margin-right: 10px;margin-left: 10px;
}
#sec6 .txtbox1{position: absolute;text-align: center;left:14%;margin-top: 80px;}
#sec6 .txtbox1 p{margin-bottom: 20px;font-size: 1.25;color: #000;}
#sec6 .txtbox1 button{width: 96px;height: 34px;border: 1px solid #000;cursor: pointer;
	border-radius: 50px;background-color:  transparent; margin-top: 10px;cursor: pointer;}
#sec6 .txtbox1 button:hover{background-color:  #8CC9C8;color: #fff;border: none;}

#sec6 .sec6_box2 img{width: 300px;height: 300px;border-radius: 100%;background-color: #8CC9C8;
	margin-right: 10px; margin-left: 10px;
}
#sec6 .txtbox2{position: absolute;text-align: center;left:64%;margin-top: 80px;}
#sec6 .txtbox2 p{margin-bottom: 20px;font-size: 1.25;color: #000;}
#sec6 .txtbox2 button{width: 96px;height: 34px;border: 1px solid #000;cursor: pointer;
	border-radius: 50px;background-color:  transparent;margin-top: 10px;}
#sec6 .txtbox2 button:hover{background-color:  #fff;color: #000;border: none;}

#sec6 .sec6_back{margin-top: 250px;}
#sec6 .sec6_back img{width: 100%;height: 293px;}